<h1>p5.range</h1>
<p>An add-on for <a href="https://p5js.org">p5.js</a> with a range function, offering
an alternative way to repeat steps from standard <a href="https://p5js.org/reference/#/p5/for">for</a>
and <a href="https://p5js.org/reference/#/p5/while">while</a> loops.</p>

<p>The function's design aims to simplify syntax and prevent infinite loops. It works
similarly to <a href="https://www.w3schools.com/python/ref_func_range.asp">Python's range function</a>.</p>

{{>main}}